*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.header{
  width: 100%;
  height: 100%;
  display: block;
  background-color: black;
}
._inner_header_{
  width: 1000px;
  height:100%;
  display: block;
  margin:  0 auto;
}
._inner_container {
  height: 100%;
  display: table;
  float:flex;
  style="text-align:center/left/right;">
}
.logo_container h2{
  color: white;
  height: 100%;
  display: table-cell;
  text-align: justify;
  letter-spacing: 3px;
  font-family: "Montserrat";
  font-size: 80px;
  font-weight: 500;
}
body{
  position: inherit;
    background-color:lightgray;
  min-width: 100%;
  min-height: 100%;
  margin:0;

  background: no-repeat center center fixed;
  -webkit-background-size:cover;
  -o-background-size:cover;
  background-size:  cover;
}
.box{
  width: 500px;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
  margin: auto;
  margin-top: 0%;
  color: white;
  font-family: 'roman',sans-serif;
}
.box-img{
  border-radius: 40%;
  width: 300px;
  height: 300px;
}
.box h1{
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 45px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  font-size: 43px;
  letter-spacing: 3px;
  font-weight: 100;
  text-align: justify;
}

ul{

.box li{

  .center{
    height: 20vh;
    display: flex;
  }
  a{
    height:200px ;
    weight:200px; background color:#2d3436;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 1px 4px 2px 2px 6c5ce7;
    line-height:10px;

}
  }
}
.box li a{
  color: #ecf0f1;
  text-decoration: none;
  font-size: 100px;
  transition: all ease-in-out 1000ms;
}
.box li a:hover{
  color: #f1c40f;
}
.box h5:hover{
  color: #f1c40f;
}
.box h1:hover{
  color: #f1c40f;
}

.btn{
    float: right;
    color: BLACK;
    margin-right: 400px;
    background-color: balck;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    margin-bottom: 30px;
}
.btn_back{
    background-color: cyan;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    margin-bottom: 30px;


}

.footer{
  position:  fixed;
  left: 0px;
  bottom: 0px;
  right:0px;
  height: 30px;
  width:100%;
  background-color: black;
  color:white;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
