.body{
    background-color: grey;
	color : white;
}

.body_content{
    padding-top: 50px;
    padding-left: 200px !important;
    background-color: lightgray;
}

.component1{
    padding-bottom: 50px;

}

.component2{
    margin-left: 100px;
}

.component3{
    padding-top: 40px;
}
